In [ ]:
import lensql

In [ ]:
lensql.setup(host='davserver', port=5432, database='lensql', username='lensql')

[+] Database connection successful
[+] SQL execution enabled
[*] All code executed from now on will be interpreted as SQL

In [ ]:
SELECT id FROM customers WHERE id = 9 and id = 11

Empty DataFrame
Columns: [id]
Index: []

Output()